/*
* CSS do Select
*/

.filterItem {
  float: left;
  margin-right: 2.6%;
  width: 23%;
}

.filterItem7 {
  width: 31.6%;
}

.filterItem7:nth-child(3) {
  margin-right: 0;
}

.filterItem7:nth-last-child(4) {
  width: 23%;
}

.filterItem7:nth-last-child(3) {
  width: 23%;
}

.filterItem7:nth-last-child(2) {
  width: 23%;
}

.filterItem7:last-child {
  width: 23%;
  margin-right: 0;
}
